$color-dark-purple: #2A254B;
$color-purple: #4E4D93;
$color-light-gray: #F9F9F9;
$color-border-gray: #EBE8F4;
$color-white: #FFFFFF;
$color-border-dark: #CAC6DA;
$color-gray-li: #DCDCDC;

$font-family-satoshi: 'Satoshi';
$font-family-clashDisplay: "ClashDisplay";

$h1: 2rem;
$h2: 1.5rem;
$h3: 1.1875rem;
$h4: 1rem;
$h5: 0.875rem;
$h6: 0.75rem;
$px36: 2.25rem;