@font-face {
  font-family: "Satoshi";
  src: url(../fonts/Satoshi-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url(../fonts/Satoshi-Medium.woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url(../fonts/Satoshi-Bold.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ClashDisplay";
  src: url(../fonts/ClashDisplay-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ClashDisplay";
  src: url(../fonts/ClashDisplay-Medium.woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ClashDisplay";
  src: url(../fonts/ClashDisplay-Semibold.woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ClashDisplay";
  src: url(../fonts/ClashDisplay-Bold.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
#card-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  background: #FFFFFF;
  height: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 11;
}
#card-product .card-product__exit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 0;
  padding: 10px 10px;
}
#card-product .card-product__exit #button-exit {
  border: unset;
  background: unset;
}
#card-product .card-product__visual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#card-product .card-product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Satoshi";
  padding: 0 25px;
  gap: 30px;
}
#card-product .card-product__info .card-product__name-text {
  font-size: 2rem;
}
#card-product .card-product__info #card__button-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Satoshi";
  width: 150px;
  height: 45px;
  border-radius: 5px;
  border: 1px, solid #2A254B;
  font-size: 1rem;
}
#card-product .card-product__info #card__button-buy:active {
  background: #2A254B;
  color: #FFFFFF;
}
#card-product .card-product__info #card__button-buy:active {
  -webkit-animation: cardBuyButtonAnimation 0.3s forwards;
          animation: cardBuyButtonAnimation 0.3s forwards;
}