@import 'variables', 'fonts';

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    font-family: $font-family-clashDisplay;
    color: $color-dark-purple;

    .cart__header-text {
        margin-top: 50px;
        font-weight: 400;
        font-size: $h1;
    }

    .cart__list {
        display: flex;
        flex-direction: column;
        width: 50%;

        .cart__list-header {
            display: flex;
            justify-content: center;
            width: 100%;
            gap: calc(100%/3);
            margin-top: 15px;
        }
    }

    .separator {
        display: flex;
        background: $color-border-gray;
        border: none;
        width: 100%;
        height: 1px;
        margin-top: 20px;
    }

    .cart__card {
        display: flex;
        width: 100%;
        height: 134px;
        margin-top: 15px;
    
        .cart__card-left {
            display: flex;
            width: 30%;
            height: 100%;
        }

        .cart__card-image {
            display: flex;
            width: 110px;
            height: 100%;

            img {
                width: 110px;
            }
        }

        .cart__card-information {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin-left: 30px;
            padding: 10px 0px;
            gap: 15px;
            height: 100%;
            width: auto;

            .cart__card-information-name {
                font-size: $h4;
            }
            .cart__card-information-description {
                font-size: $h5;
            }
        }
        .cart__card-quantity,
        .cart__card-total  {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        .cart__card-quantity {
            width: 122px;
            margin-left: 15%;
        }
        
        .cart__card-total {
            width: 33px;
            margin-left: 30%;
        }
    }
}

.cart__buy-information {
    display: flex;
    gap: 25px;
    flex-direction: column; 
    align-items: end;
    width: 50%;
    height: 200px;

    .cart__buy-information-total {
        font-family: $font-family-clashDisplay;

        .cart__buy-information-total-text {
            font-size: $h4;
            color: $color-purple;
        }

        .cart__buy-information-total-price {
            margin-left: 15px;
            font-size: $h3;
            color: $color-dark-purple;
            font-family: $font-family-satoshi;
        }
    }

    .cart__buy-information-text {
        font-family: $font-family-satoshi;
        font-size: $h5;
        color: $color-purple;
    }

    #cart__buy-information-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: $color-dark-purple;
        color: $color-white;
        font-family: $font-family-satoshi;
        font-size: $h4;
        width: 172px;
        height: 56px;
    }
}